#textbox {
	
	border: 6px solid red;
	width: 100%;
}

#playersTurn {
	color: red;
	text-align: center;
}

#scoreBoard {
	color: blue;
	border: 2px solid black;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
}

#gameArea {
	border: 5px solid yellow;
	height: 100%;
	font-size: 20px;

}

.clickBox	{
	border: 1px dashed red;
	height: 33%;
	width: 33%;
	float: left;
	text-align: center;
}

#oScore {
	color: pink;
}

#xScore{
	color: teal;
}