#textbox {
	
	border: 6px solid red;

}

#playersTurn {
	color: red;
	text-align: center;
}

#gameArea {
	border: 5px solid yellow;
	height: 100%;
	font-size: 20px;

}

.clickBox	{
	border: 1px dashed red;
	height: 33%;
	width: 33%;
	float: left;
	text-align: center;
	
}

