#textbox {
	
	border: 6px solid red;

}

#playersTurn {
	color: red;
}

#gameArea {
	border: 5px solid yellow;
	height: 100%;
}

.clickBox	{
	border: 1px dashed red;
	height: 33%;
	width: 33%;
	float: left;
}
