* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: 060AB2;
}

.memory-game {
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	width: 600px;
	margin: auto;
	perspective: 1000px;
}

.memory-card {
	cursor: pointer;
	position: relative;
	height: calc(33.33% - 10px);
	width: calc(25% - 10px);
	margin: 5px; 
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.front-face, .back-face {
	border-radius: 5px;
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}


.memory-card:active {
	transform: scale(.97);
	transition: transform .2s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face {
	transform: rotateY(180deg);
}